div.navigation
    ul
        li.active
            a(href="/").button.rectangular
                i.fa.fa-user
                span Friends
        li
            a(href="/").button.rectangular
                i.fa.fa-search
                span Search